.navbar {
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: rgba(16, 16, 16, 255);
    margin-top: 0.5%;
}

.logo {
    height: 80px;
    width: 140px;
    object-fit: cover;
}

.menu {
    justify-content: space-between;
    justify-items: center;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

.menu a:hover {
    color: rgba(254, 176, 24, 255);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgba(254, 176, 24, 255);
}

.contact-button {
    color: rgb(9, 0, 0);
    font-weight: 100;
    border: none;
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    border-radius: 50%;
    margin-left: -100%;
}

.contacts {
    height: 30px;
    width: 35px;
    margin-left: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    object-fit: cover;
    border-radius: 50%;
}

.contentback {
    height: 130%;
    width: 130%;
    margin-right: 125%;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0.5rem 1rem;
    }
    .logo {
        height: 50px;
        width: 70px;
        margin-left: 0%;
    }
    .menu {
        gap: 5px;
        margin: 0;
    }
    .menu a {
        padding: 8px;
        font-size: 0.9rem;
    }
    .contact-button {
        width: 30px;
        height: 30px;
        margin-left: 0.5rem;
    }
    .contacts {
        height: 25px;
        width: 25px;
        margin-left: 0.5rem;
    }
}