#home {
    height: calc(100vh - 4rem);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 10%;
    max-width: 85%;
    padding-left: 3%;
    padding-right: 3%;
}

.button {
    background-color: white;
    color: rgba(254, 176, 24, 255);
    font-weight: 100;
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
}

.contentback {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    flex: 4;
    border: 5px solid rgb(3, 47, 85);
    box-shadow: 0 0 80px rgba(3, 34, 161, 0.5);
}

.introcontent {
    width: 140%;
    text-align: justify;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
}

.hello {
    color: aliceblue;
    font-size: 4rem;
}

.name {
    color: rgb(2, 61, 113);
    font-size: 4rem;
    text-shadow: 0 0 10px rgb(2, 61, 113);
}

.introtext {
    color: aliceblue;
    font-size: 4rem;
}

.profession {
    color: aliceblue;
    font-size: 2.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.introduction {
    color: aliceblue;
    margin-top: 20px;
    line-height: 1.6;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-left: 30px;
    font-style: italic;
}

.button {
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 37%;
    margin-top: 10%;
    border-radius: 5%;
    animation: fadeInUp 0.5s forwards;
    animation-delay: 1.5s;
}

.button:hover {
    background-color: #f1f3f6;
    transform: scale(1.1);
    color: rgb(8, 8, 8);
    border: 2px solid rgb(131, 88, 6);
}

@media screen and (max-width: 768px) {
    #home {
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
        height: 100vh;
    }
    .introcontent {
        order: 1;
        width: 100%;
        text-align: center;
        margin-right: 0;
        justify-content: center;
    }
    .contentback {
        order: 2;
        height: 300px;
        width: 300px;
        margin-top: 80px;
    }
    .hello,
    .name,
    .introtext {
        font-size: 2rem;
    }
    .profession {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .introduction {
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .button {
        margin-left: 38%;
        margin-top: 20px;
        width: 100px;
        height: 50px;
    }
}