.section-title {
    text-align: center;
    font-size: 2.5rem;
}

#work {
    padding: 50px 0;
    background-color: #040404;
    text-align: center;
}

.experience-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: relative;
}

.experience-item {
    background-color: rgb(1, 35, 65);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px #0254f7e9;
    text-align: center;
    width: 70%;
    font-size: 1rem;
    position: relative;
    margin-left: 15%;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.experience-item.scroll-animation {
    opacity: 1;
    transform: translateY(0);
}

.experience-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: rgba(255, 243, 217, 255);
    z-index: 1;
}

.experience-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid rgba(255, 243, 217, 255);
    z-index: 1;
}

.experience-item:hover {
    transform: translateY(10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.experience-item h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: aliceblue;
}

.experience-item p {
    margin: 5px 0;
    color: rgb(161, 204, 241);
}

.experience-item p:last-child {
    color: #99d11f;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .experience-container {
        align-items: center;
        margin-left: -10%;
    }
    .experience-item {
        width: 80%;
        text-align: center;
    }
}